<div class="container" style="margin-top: 2em">
  <h1 class="text-center">
    <u>{{ title }}</u>
  </h1>
  <br />
  <app-stepper
    [steps]="mySteps"
    (stepperEvent)="catchEvent($event)"
    [cppsProject]="cppsProject"
    [mode]="mode"
    [isDemoProject]="false"
  ></app-stepper>

  <div style="display: flex; justify-content: center; margin-top: 1em">
    <button
      class="btn btn-primary"
      (click)="validateAndUpdate()"
      *ngIf="mode === 'edit'"
    >
      <i class="bi-save"></i>
      Update CPPS Project
    </button>
  </div>
</div>
